*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header  {
    background-color: red !important;
    background-image: url('../../assets/3.jpg');
    background-size: cover  !important;
    background-position: center center !important;
    height: 100vh;
    text-align: left;
    overflow: hidden;
    position: relative;
}

.header .row {
    margin: 60px 0;
}

.header .content {
    position: absolute !important;
    top: 20%;
}
.header h2 {
    color: #a82d49;
    font-size: 45px !important;
    font-weight: 600;
    line-height: 60px;
    width: 80%;
}

.header p {
    color: #777;
    width: 80%;
    margin: 15px  0;
}

.header .btn {
    margin: 15px 10px;
    line-height: 20px;
    font-weight: bold;
    text-transform: capitalize;
    padding: 11px 28px;
    vertical-align: middle;
    border-radius: 0;
    background-color: #fff;
    border: 0;
    

}


.header .btn.default {
    color: black;
    box-shadow: 5px 5px 2px #ccc !important;
    
}

.header .btn:hover.default  {
    border: 3px solid #a82d49 !important;
    background: transparent;
    color: #a82d49;
    
}


.header .btn i {
    margin-left: 10px;
    font-size: 20px !important;
    vertical-align: middle;
}

.header .btn.active {
    background: #a82d49;
    border: 3px solid #a82d49;
    color: #fff;
    vertical-align: middle;
    box-shadow:none ;
}

.header .btn:hover.active {
    background: #fff ;
    color: #a82d49;
}



@media screen and (min-width: 769px) and (max-width: 991px) {
 

.header .row {
    margin: 40px 0;
}

.header .content {
    position: absolute !important; ;
    top: 30% ;
 
}


.header h2 {
  
    font-size: 35px !important;
    line-height: 50px;
    width: 80%;
}

.header p {
   
    width: 70%;
    margin: 8px  0;
}

.header .btn {
    margin: 10px 18px;
    line-height: 18px;
    padding: 10px 20px !important;
    width: 50%;

}


.header .btn i {
    font-size: 18px !important;
}


    
}



@media screen and (max-width: 768px) {

.header .content {
    position: absolute !important; ;
    top: 30% ;
    left: 10%;
 
}


.header h2 {
  
    font-size: 25px !important;
    line-height: 30px;
    width: 50%;
}

.header p {
   
    width: 40%;
 
}

.header .btn {
    
    line-height: 18px;
    padding: 10px 20px !important;
    width: 50%;
    display: block;
    font-size: 14px;

}


.header .btn i {
    font-size: 18px !important;
}


}