html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #a82d49; 
  border-radius: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  
}

